#card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem 1.5rem;
    width: 27%;
}
.card-header{
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.116);
    font-family: 'poppins';
}

.text{
    font-family: 'Open sans';
    font-size: 15px;
}
#buttons{
    display: flex;
    gap: 1rem;
}
#buttons button{
    outline: none;
    border: 0.1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins';
}

#buttons #button-inactive{
    background-color: rgb(228, 87, 87);
    color: white;
}
#buttons #button-edit{
    background-color: rgb(77, 77, 224);
    color: white;
}

.close-buttons{
    display: none;
}
.background-inative{
    background-color: gray;
}
.background-inative .card-header h3{
    text-decoration: line-through;
}
.text_red{
    color: whitesmoke;
    font-family: 'Poppins';
    font-size: 20px;
}
@media (max-width:1417px){
    #card{
        width: 40%;
    }
}
@media (max-width:850px){
        #card{
            width: 100%;
        }
} 
.delete-item{
    display: none;
}
.block{
    display: block;
}